@import './src/Color.module.scss';

.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.comment > img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox {
  flex: 1;
}

.commentContent { 
  background: $gray--700;
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start; //para o icon da lixeira ficar alinado com o nome
  justify-content: space-between;
 
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: $gray--400;
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: $gray--400;
  cursor: pointer;
  line-height: 0; // ou font-size:0; para alinhar a lixeira quando inspeciona no focus
  border-radius: 2px;
}

.commentContent header button:hover {
  color: $red--500;
}

.commentContent p {
  margin-top: 1rem;
  color: $gray--300;
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  border: 0;
  color: $gray--400;
  cursor: pointer;

  display: flex; //faz o icone ficar alinhado com o text
  align-items: center;

  border-radius: 2px;
}

.commentBox footer button:hover {
  color: $green--300;
}

.commentBox footer button svg {
  margin-right: 0.5rem;//para dar distancia do icon e text
}

//para criar o pontinho apos o aplaudir
.commentBox footer button span::before{
  content: '\2022';
  padding: 0 0.25rem;
}