*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px #00875f;
}

body{
  background: #121214;
  color: #c4c4cc;
  -webkit-font-smoothing: antialiased; /*Essa regra ajuda a tornar o texto mais nítido e legível em navegadores */
}

body, input, textarea, button{
  font-family:'Roboto';
  font-weight:400;
  font-size: 1rem;
}